<h2 mat-dialog-title>{{data.note.title}}</h2>
<mat-dialog-content class="mat-typography">

  <form [formGroup]="editForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Title</mat-label>
      <input formControlName="title" matInput placeholder="Title" >
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>text</mat-label>
      <textarea formControlName="body" matInput placeholder="text"></textarea>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button (click)="handleChange(editForm.value)" color="primary" mat-dialog-close>Edit</button>
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
</mat-dialog-actions>
