
.app{
  height: 100vh;
  background-color: #f7f7f7;
  .spacer {
      flex: 1 1 auto;
    }
    nav a{
      text-decoration: none;
      margin-left: 10px;
    }
    nav a:visited{
      color: inherit;
    }
  p{
    margin-left:30px ;
    margin-bottom: 0px !important;
  }
  .logo{
    cursor: pointer;
    list-style: none;
    display: flex;
    li{
      display: flex;
      align-items: center;
    }
  }
}
