.note {
    width: 400px;
    height: 300px;
    margin: 10px;
    border: 0.1em solid rgba(128, 128, 128, 0.514);
    .mr-ml-8 {
      margin-right: 8px !important;
      margin-left: 8px !important;
    }
    .card-content{
      height: 180px;
      width: 380px;
      overflow: hidden;
    }
    p{
      word-wrap: break-word;
    }
  }


