<mat-card class="note">
    <mat-card-title>{{note?.title}}</mat-card-title>
    <mat-card-content>
        <p> {{note?.body}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
        mat-raised-button
        (click)="openDialog()"
        >
        View</button>

        <button
        mat-raised-button
        color="primary"
        >
        Edit
        </button>

        <button
        mat-raised-button
        color="warn"
        (click)="deleteNote()"
        >
        Delete
        </button>
    </mat-card-actions>
  </mat-card>
